{name, "gen_proto"}.
{authors, ["ILYA Khlopotov <ilya.khlopotov@gmail.com>"]}.
{description, "Asynchronous library for arbitrary protocol handlers implementation."}.
{homepage, "https://launchpad.net/gen-proto"}.
{rebar_compatible, true}.
{license, "Dual (GPL version 2, or any later version, or CDDL)", "LICENSE"}.
{url, {bzr, "lp:~ilyak/gen-proto/trunk", {branch, "master"}}}.
{applications, [gen_proto]}.
